<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.mapper.CheckingMapper">
    <!--    条件查询-->
    <select id="list" resultType="com.seu.pojo.FullCheckingCourse">
        select *
        from checking
        <where>
            course_status=1
            <if test="courseName!=null and courseName!=''">and course_name like concat('%', #{courseName}, '%')</if>
        </where>
        order by commit_time desc
    </select>

</mapper>