<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.mapper.ClassMapper">
    <!--    批量查询-->
    <select id="getNamesByIds" resultType="java.lang.String">
        select class_name from class
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
<!--    模糊查询-->
    <select id="getByName" resultType="com.seu.pojo.MyClass">
        select * from class
        <where>
        <if test="className!=null and className!=''">class_name like concat('%', #{className}, '%')</if>
        </where>
    </select>

</mapper>